@media (max-width: 1320px) {
  .container-lg {
    max-width: 1200px;
  }
  .hero-content {
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }
  .about-content {
    padding-right: 0;
  }
  .project-box {
    max-width: 454px;
  }
  .about,
  .projects,
  .contact {
    padding: 80px 0;
  }
}

@media (min-width: 1020px) {
  .projects-row {
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
  }
}

.project-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  flex: 0 0 auto;
}

@media (max-width: 977px) {
  .title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .hero-row {
    flex-direction: column;
    row-gap: 40px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-img {
    justify-content: center;
  }
  .about-social-list {
    display: block;
  }
  .about-row {
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-bottom: 50px;
  }
  .hero {
    padding-top: 160px;
  }
  .social-links-row {
    column-gap: 17px;
    margin: 30px 0;
  }
  .btn {
    font-size: 11px;
    padding: 0 20px;
  }
  .project-box {
    max-width: 327px;
  }
  .about,
  .projects,
  .contact {
    padding: 5rem 0;
  }
}

@media (max-width: 900px) {
  .projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .project-box {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .project-box.expanded {
    margin-bottom: 20px;
  }
  .project-description {
    padding: 15px;
  }
}

@media (max-width: 720px) {
  .projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .project-box {
    max-width: 100%;
  }
  .project-box.expanded {
    width: 95%;
  }
  .expanded-content {
    flex-direction: column;
  }
  .expanded-image-container {
    max-height: 40%;
  }
}

@media (max-width: 406px) {
  .hero-img {
    flex: 1 1 100%;
  }
  .projects-row {
    justify-content: center;
  }
}